.feed {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.feed-entry {
  color: black;
  padding: 25px;
  margin: 8px 0px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.comp-details {
  display: flex;
  align-items: center;
}

.company {
  margin-right: 10px;
}

.story {
  font-size: larger;
}

.feed-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.background {
  text-align: right;
}

.month {
  border: 1px solid var(--risd-blue);
  border-radius: 20px;
  padding: 2px 10px;
  display: inline;
  color: var(--risd-blue);
}

.salary {
  color: var(--mint);
}

.name {
  justify-self: end;
  margin-bottom: 5px;
}
