/* SCSS HEX */
$periwinkle: #CBCBFFff;
$tropical-indigo: #7D7DFBff;
$white: #FFFFFFff;
$risd-blue: #5551FF;
$mint: #00bd9dff;


ag-grid-angular {
  height: 500px;
  width: 100%;
}

.ag-theme-alpine {
  --ag-font-family: "Hind-Light", sans-serif;
  --ag-borders: solid 1px;
  --ag-border-radius: 5px;
  --ag-foreground-color: #5551FF;
  --ag-header-foreground-color: #FFFFFFff;
  --ag-header-background-color: #5551FF;
  --ag-subheader-background-color: rgba(85, 81, 255, .6);
  --ag-border-color: #5551FF;
  --ag-row-border-color: rgba(203, 203, 255, .8);
  --ag-row-hover-color:rgba(85, 81, 255, .05);
  --ag-column-hover-color: rgba(85, 81, 255, .8);
}

.grid-container {
  padding: 3%;
}

