/* SCSS HEX */
$periwinkle: #CBCBFFff;
$tropical-indigo: #7D7DFBff;
$white: #FFFFFFff;
$risd-blue: #5551FF;
$mint: #00bd9dff;

// * {
//   border: 1px solid black;
// }

ag-grid-angular {
  height: 600px;
  width: 100%;
}

.ag-theme-alpine {
  --ag-font-family: "Hind-Light", sans-serif;
  --ag-borders: solid 1px;
  --ag-border-radius: 5px;
  --ag-foreground-color: #5551FF;
  --ag-header-foreground-color: #FFFFFFff;
  --ag-header-background-color: #5551FF;
  --ag-subheader-background-color: #00bd9dff;
  --ag-border-color: #5551FF;
  --ag-row-border-color: rgba(203, 203, 255, .8);
  --ag-row-hover-color:rgba(85, 81, 255, .05);
  --ag-column-hover-color: rgba(85, 81, 255, .8);
}

.grid-container {
  margin: 0 3% 3% 3%;
}

.filter-icon {
  margin-bottom: 8px;
  padding-left: 3%;
  display: flex;
  align-items: center;
}

.filters {
  margin: 0px;
}

.stories-section {
  margin-top: 65px;
  margin-bottom: 30px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-around;
}

.planet-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
}

.planet-img {
  height: 13rem;
}

.selected-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 14rem;
  padding: 30px;
  width: 55%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
}

.selected-story > p {
  font-size: 17px;
  line-height: 23px;
}

