.review-modal-container {
  padding: 20px;
}

.label {
  font-family: 'Hind-SemiBold', sans-serif;
}

.bk-btn {
  margin-right: 10px;
}

h2, h3 {
  text-align: center;
}



.review-info, .review-story {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin-bottom: 15px;
}
