.container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Hind-Medium', sans-serif;
}

.form-prompt {
  margin-bottom: 50px;
}

textarea {
  height: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-self: center;
}

form {
  text-align: center;
  width: 50%;
}

.cohort, .full-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cohortyr, .cohortpro,
.first-name, .last-name {
  width: 48%
}

label {
  text-align: left;
  font-size: larger;
  margin-bottom: 5px;
}

.ag-hidden {
  visibility: visible;
}

