<div class="container">
  <p class="form-prompt">Your Info, Pretty Please.</p>
  <form [formGroup]="jobStoryForm" (ngSubmit)="submit(jobStoryForm.value)">
    <div class="cohort">
      <div class="form-group cohortyr">
        <label for="cohort">Cohort</label>
        <mat-form-field appearance="outline">
          <mat-label>Cohort(0000)</mat-label>
          <input formControlName="cohort" matInput>
        </mat-form-field>
      </div>
      <div class="form-group cohortpro">
        <label for="role">Program?</label>
        <mat-form-field appearance="outline">
          <mat-label>BE/FE</mat-label>
          <mat-select formControlName="program">
            <mat-option value="FE">FE</mat-option>
            <mat-option value="BE">BE</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
   </div>
   <div class="full-name">
     <div class="form-group first-name">
       <label for="firstName">First Name</label>
       <mat-form-field appearance="outline">
         <mat-label>First Last</mat-label>
         <input formControlName="firstName" matInput>
       </mat-form-field>
     </div>
     <div class="form-group last-name">
       <label for="lastName">Last Name</label>
       <mat-form-field appearance="outline">
         <mat-label>First Last</mat-label>
         <input formControlName="lastName" matInput>
       </mat-form-field>
     </div>
   </div>
    <div class="form-group">
      <label for="role">Is it Permanent?</label>
      <mat-form-field appearance="outline">
        <mat-label>Options</mat-label>
        <mat-select formControlName="permanent">
          <mat-option value="Employee">Employee</mat-option>
          <mat-option value="Intern">Internship</mat-option>
          <mat-option value="Apprenticeship">Apprenticeship</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="summary">Company</label>
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input formControlName="company" matInput>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="summary">Chanel</label>
      <mat-form-field appearance="outline">
        <mat-label>Options</mat-label>
        <mat-select formControlName="effectiveChanel">
          <mat-option value="Personal Connection">Friend / Family</mat-option>
          <mat-option value="Alumni Referral">Alumni Referral</mat-option>
          <mat-option value="Cold Apply">Cold Apply</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="summary">Starting Salary</label>
      <mat-form-field appearance="outline">
        <mat-label>Options</mat-label>
        <mat-select formControlName="startingSalary">
          <mat-option value="50k - 60k">50k - 60k</mat-option>
          <mat-option value="60k - 70k">60k - 70k</mat-option>
          <mat-option value="70k - 80k">70k - 80k</mat-option>
          <mat-option value="80k - 90k">80k - 90k</mat-option>
          <mat-option value="90k - 100k">90k - 100k</mat-option>
          <mat-option value="100k +">100k +</mat-option>        
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <p class="form-prompt">Now, let's get to the tea - spill it!</p>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>The story of how you landed your first dev role.</mat-label>
        <textarea matInput formControlName="storyResponse"></textarea>
      </mat-form-field>
    </div>
    <button [disabled]="jobStoryForm.invalid" mat-flat-button color="primary" (click)="submitForm()">Review</button>
  </form>
</div>
