.container {
  margin-bottom: 100px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-prompt {
  margin-bottom: 50px;
  font-size: x-large;
}

textarea {
  height: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-self: center;
}

form {
  text-align: center;
  width: 50%;
}

.cohort,
.full-name,
.time-n-pay {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cohortyr,
.cohortpro,
.first-name,
.last-name,
.month-hired,
.starting-sal {
  width: 48%;
}

label {
  text-align: left;
  font-size: larger;
  color: black;
  margin-bottom: 5px;
}

.ag-hidden {
  visibility: visible;
}
