<div class="landing-page">
  <section class="rocket-section">
    <img
      class="rocket-img"
      src="../assets/purple rocket.gif"
      alt="cartoon rocket image"
    />
  </section>
  <section class="bottom-ribbon">
    <h2>How people land their first dev jobs!</h2>
    <div class="buttons">
      <app-button
        link="feed"
        size="medium"
        type="primary-btn"
        title="Read Stories"
      ></app-button>
      <app-button
        link="form"
        size="medium"
        type="primary-btn"
        title="Write Yours"
      ></app-button>
    </div>
  </section>
</div>
