/* SCSS HEX */
$periwinkle: #cbcbffff;
$tropical-indigo: #7d7dfbff;
$white: #ffffffff;
$risd-blue: #5551ff;
$mint: #00bd9dff;

/* SCSS RGB */
$periwinkle: rgba(203, 203, 255, 1);
$tropical-indigo: rgba(125, 125, 251, 1);
$white: rgba(255, 255, 255, 1);
$risd-blue: rgba(85, 81, 255, 1);

.landing-page {
  margin-top: 20px;
  height: calc((100vh - 23vh) - 20px);
}

h2 {
  color: $risd-blue;
}

.rocket-section {
  text-align: center;
  height: 85%;
}

.rocket-img {
  height: 120%;
  overflow: hidden;
}

.bottom-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  margin: 0px 30px;
}

.buttons {
  width: 25%;
  display: flex;
  justify-content: center;
}
