/* SCSS HEX */
$periwinkle: #CBCBFFff;
$tropical-indigo: #7D7DFBff;
$white: #FFFFFFff;
$risd-blue: #5551FF;
$mint: #00bd9dff;

/* SCSS RGB */
$periwinkle: rgba(203, 203, 255, 1);
$tropical-indigo: rgba(125, 125, 251, 1);
$white: rgba(255, 255, 255, 1);
$risd-blue: rgba(85, 81, 255, 1);

.landing-page {
  margin-top: 20px;
  height: calc((100vh - 23vh) - 20px);
}

.rocket-section {
  text-align: center;
  height: 85%;
}

.rocket-img {
  height: 120%;
  overflow: hidden;
}

.bottom-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  margin: 0px 30px;
}

.buttons {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}


.action-btn {
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: $white;
  background-color: $mint;
  font-size: larger;
}

.action-btn:hover {
  border: 2px solid $mint;
  background-color: transparent;
  color: $mint;
}