body {
  margin: 0;
  padding: 0;
  border: 5px solid black;
  background-color: lightgoldenrodyellow;
}

* {
  font-family: "Didot", serif;
}

header {
  background-color: aliceblue;
  padding: 20px;
}

h1, h2, h3 {
  font-family: "Didot", serif;
  font-weight: bold;
}
