<div class="app">
  @if (showAnimateHeader) {
    <div class="header-content">
      <header class="end-transition-header">
        <h1 class="smaller-text" routerLink="">First Landing.</h1>
        <div class="nav">
          <h3 routerLink="feed">Discover</h3>
          <h3 routerLink="grid">Analytics</h3>
        </div>
      </header>
    </div>
  }
  @if (showStickyHeader) {
    <app-short-header></app-short-header>
  }
  <router-outlet (activate)="onActivate()"></router-outlet>
  <footer>
    <h1>First Landing.</h1>
    <section class="footer-links">
      <div class="footer-column">
        <h2>Turing</h2>
        <a>Quarterly Reports</a>
        <a>Website</a>
      </div>
      <div class="footer-column">
        <h2>Creator</h2>
        <a>GitHub</a>
        <a>LinkedIn</a>
      </div>
    </section>
  </footer>
</div>
