@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

:root {
  --periwinkle: #cbcbffff;
  --tropical-indigo: #7d7dfbff;
  --white: #ffffffff;
  --risd-blue: #5551ff;
  --mint: #00bd9dff;
}
/* SCSS HEX */
$periwinkle: #cbcbffff;
$tropical-indigo: #7d7dfbff;
$white: #ffffffff;
$risd-blue: #5551ff;
$mint: #00bd9dff;

/* SCSS RGB */
$periwinkle: rgba(203, 203, 255, 1);
$tropical-indigo: rgba(125, 125, 251, 1);
$white: rgba(255, 255, 255, 1);
$risd-blue: rgba(85, 81, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-right: linear-gradient(
  90deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-bottom: linear-gradient(
  180deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-left: linear-gradient(
  270deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-top-right: linear-gradient(
  45deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-top-left: linear-gradient(
  225deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #cbcbffff,
  #7d7dfbff,
  #ffffffff,
  #5551feff
);
$gradient-radial: radial-gradient(#cbcbffff, #7d7dfbff, #ffffffff, #5551feff);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  //width: 100vw;
}

* {
  font-family: "Hind-Light", sans-serif;
}

.start-transition-header {
  padding-top: 30px;
  height: 23vh;
  border-bottom: 1px solid rgba(203, 203, 255, 0);
  background-color: white;
  transition: 1s;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.end-transition-header {
  padding: 20px;
  padding-top: 20px;
  height: 6vh !important;
  border-bottom: 1px solid rgba(203, 203, 255, 0.8);
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  height: 23vh;
  position: sticky;
  top: 0;
  z-index: 999;
}

h1 {
  font-family: "Hind-Bold", sans-serif;
  font-size: 11vw;
  padding-top: 55px;
  color: $risd-blue;
  transition: 1s;
}

.smaller-text {
  font-size: 50px !important;
  padding-top: 15px;
}

h3 {
  font-family: "Hind-Light", sans-serif;
  color: $risd-blue;
  font-size: 25px;
  margin-left: 8px;
}

h3:hover {
  transform: scale(1.2);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  width: 18vw;
  padding-top: 10px;
}

h2 {
  font-family: "Hind-Medium", sans-serif;
  align-self: flex-end;
  margin: 0px;
}

footer {
  position: relative;
  background-color: $risd-blue;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 30vh;
  margin: 0px;
}

footer h1 {
  color: $white;
  font-size: 80px;
  align-self: flex-start;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column > h2,
a {
  color: $white;
  align-self: flex-start;
}

.trail {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: green;
  z-index: 9999 !important;
}

@font-face {
  font-family: "Hind-Light";
  src: url("./assets/HindMaduraiFont/HindMadurai-Light.ttf");
}

@font-face {
  font-family: "Hind-Medium";
  src: url("./assets/HindMaduraiFont/HindMadurai-Medium.ttf");
}

@font-face {
  font-family: "Hind-Bold";
  src: url("./assets/HindMaduraiFont/HindMadurai-Bold.ttf");
}

@font-face {
  font-family: "Hind-SemiBold";
  src: url("./assets/HindMaduraiFont/HindMadurai-SemiBold.ttf");
}
