<div *ngIf="isLoading" class="loading-container">
    <mat-spinner color="primary"></mat-spinner>
</div>
<div *ngIf="!isLoading" class="feed-container">
    <section class="filters">
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
<!-- #companySelect is variable used to omit the use of .event.target.value now companySelect.value-->
            <mat-select #companyFilter (selectionChange)="setSearchTerm(companyFilter.value)"> 
                <mat-option>
                    <ngx-mat-select-search #companySearch></ngx-mat-select-search>
                </mat-option>
                <mat-option #selection *ngFor="let company of allStories | searchFilter: companySearch.value" [value]="company.company">
                  <div class="country-container">
                    <span>{{company.company}}</span>
                  </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button *ngIf="searchTerm" (click)="companyFilter.value=undefined; setSearchTerm(undefined)">Clear</button>
    </section>
    <app-stories-feed [allStories]="allStories" [searchTerm]="searchTerm"></app-stories-feed>
    <section class="filters">
        <app-search-bar (setSearchTerm)="setSearchTerm($event)"></app-search-bar>
        <app-button class="pos-end" link="/form" size="medium" type="primary-btn" title="Write Yours"></app-button>
        <app-button class="pos-start" link="/feed" click="windowTop" size="medium-round" type="outline-btn" iconName="arrow_upward"></app-button>
    </section>
</div>
