.loading-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-container {
  margin: 40px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: 15% 60% 15%;
}

.filters{
  display: flex;
  flex-direction: column;
}

.pos-end {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
}

.pos-start {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


