<section class="feed">
  <div class="feed-entry" *ngFor="let story of allStories | searchFilter: searchTerm">
      <div class="entry-header">
          <div class="comp-details">
              <h2 class="company">{{story.company}}</h2>
              <h2>{{story.title}}</h2>
          </div>
      </div>
      <p class="story">{{story.storyResponse}}</p>
      <section class="feed-footer">
          <div>
              <p class="salary">{{story.startingSalary}}</p>
              <p class="month">{{story.monthHired}}</p>
          </div>
          <div class="background">
              <h3 class="name">{{story.firstName}} {{story.lastName}}</h3>
              <p>{{story.cohort}} {{story.program}}</p>
          </div>
      </section>
  </div>
</section>
