$periwinkle: #CBCBFFff;
$tropical-indigo: #7D7DFBff;
$white: #FFFFFFff;
$risd-blue: #5551FF;
$mint: #00bd9dff;



.feed-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.feed-entry {
  color: black;
  padding: 25px;
  margin: 8px 0px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.comp-details {
  display: flex;
  align-items: center;
}

.company {
  margin-right: 10px;
}

.story {
  font-size: x-large;
}

.month {
  border: 1px solid $risd-blue;
  border-radius: 20px;
  padding: 2px 10px;
  display: inline;
  color: $risd-blue;
}

.name {
  justify-self: end;
}